<h3>Message de la page de contact : </h3>
<br/>
<strong>Auteur:</strong><br/>
<?= $prenom.' '.$nom; ?><br/>
<strong>Email:</strong><br/> 
<?= $email; ?><br/>
<strong>Sujet:</strong><br/>
<?= $sujet; ?><br/>
<strong>message:</strong><br/>
<?= $message; ?>